body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f3f4f6;

}

.login-container, .static-container {
    text-align: center;
    background-color: #fff;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.random-text {
    position: absolute;
    font-family: 'Mountains of Christmas', cursive;
    color: #FFD700; /* Giallo oro natalizio */
    font-size: 2rem;
    text-shadow: 2px 2px 4px #000000;
}

input {
    display: block;
    width: 100%;
    padding: 10px;
    margin: 10px 0;
}

button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}
/* label {
    color: teal; 
    font-family: 'Gill Sans';
    font-weight:100;
} */
button:hover {
    background-color: #45a049;
}

.error-message {
    color: red;
    margin-top: 10px;
}
